body{
    font-family: sans-serif;
}

.container{
    width: 400px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
    background: lightblue;
    border-radius: 10px;
}

input{
    width: 100%;
    padding: 5px;
}