

.container {
    margin: auto;
    background-color: aqua;
    margin-top: 20px;
    width: 650px;
    height: 160px;
    text-align: center;
    opacity: 50%;
}

p {
 margin-top: 30px;
}